In [1]:
print("helloworld")

helloworld

In [20]:
import pandas as pd
df = pd.read_csv(r"C:\Users\yashw\Downloads\industry.csv")
df

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other